body
{
margin:0;
background-color: rgb(248, 233, 214);    
}

#interfaz
{
    position: fixed;
    top: 0; 
    z-index: 1000;
    width: 100%; 
    height: 83px;
    background-color: rgb(230, 193, 100);
    border: 4px solid rgba(205, 133, 0, 0.494);
    border-right: none;
    border-left: none;
    text-align: right;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
}

/*Estilo del nombre de la pagina*/

#simbelTravels
{
position: absolute;
font-family:Jolly Lodger;
font-size:65px;
left:1%;
top:-2px;    
}

#simbelTravels1
{
position: absolute;
font-family:Jolly Lodger;
font-size:80px;
left:11%;
top:-5px;    
}


/*Estilo del nombre de la seccion de la pagina*/
#tituloInicio
{
    position: absolute;
    font-family:Jolly Lodger;
    font-size:45px;
    left:25%;
    top:13px;    
}

#tituloInicioViajes
{
    position: absolute;
    font-family:Jolly Lodger;
    font-size:45px;
    left:23%;
    top:13px;    
}



#seccion {
    width: fit-content; 
    margin-left: auto; 
    margin-right:45px; 
}

#seccion1
{
   
    width: fit-content; 
    margin-left: auto; 
    margin-right: 45px; 
}

/* Estilos de los botones */

.estilosUI
{
    font-family:Jolly Lodger;
    font-size: 24px; 
    line-height: 1; 
   position: relative;
    top:2px;
    right:-39px;
    display: inline-block;  
    padding: 30px 40px;    
    background-color:  rgb(237, 225, 160); 
    margin:-3px;       
    cursor: pointer;        
}



#inicio
{
border-bottom-left-radius:5px;    
border-bottom:none;
border-top:none;
border-left:none;
border-right:none;
}

#habitaciones
{
border:4.5px solid rgba(205, 133, 0, 0.494) ;
border-bottom:none;
border-top:none;
border-right:none;
}

#servicios
{
border:4.5px solid rgba(205, 133, 0, 0.494) ;
border-bottom:none;
border-top:none;
border-right:none;
}

#viajes
{
border:4.5px solid rgba(205, 133, 0, 0.494) ;
border-bottom:none;
border-top:none;
border-right:none;
}

#letsgo
{
border:4.5px solid rgba(205, 133, 0, 0.494) ;
border-bottom:none;
border-top:none;
border-right:none;
}

#simbelimg
{
width:100%;
height:auto;
}

a
{
color:black;
text-decoration: none;
}

#Textoinicio
{
font-family:"calibri";
width:55%;
margin:20px auto;   
padding:20px;
}

#tituloinicio1
{
font-family: 'Brush Script MT', cursive;
color: #a85c10;
left:29%;   
position: absolute;
text-align: center;  
font-size:45px;  
}      

#titulohabitaciones2
{
    font-family: 'Brush Script MT', cursive;
    color: #a85c10;
    text-align: center;  
    font-size: 35px; 
    margin-top: 120px;
    margin-bottom: 20px; 
}


#tituloinicio2
{
font-family: 'Brush Script MT', cursive;
color: #a85c10;
position: absolute;
left:-60%;
top: 30px;   
text-align: center;
font-size:40px;
}      

#titulotextoinicio3
{
font-family:Travel;
position: relative;
text-align: center;    
font-size:28px;
}

.content
{
    width: 80%;
    margin: 0 auto;
    padding: 40px 0;
    font-family: calibri;
}

#texto1inicio
{
    margin:100px;
    width:50%;
    height:20%;
    text-align:left;
    padding: 20px 20px 20px;
    background-color:gray;
    position:relative;    
    
    }
#texto2inicio
{
top: -263px;
margin:200px;
width:50%;
height:20%;
text-align:left;
padding: 20px 20px 20px;
background-color:gray;
position:relative;    

}

.services ul
{
    list-style-type: none;
    width: 45%;
    padding-left: 0;
}

.services ul li
{
    margin-bottom: 10px;
    font-size: 18px;
    color: #a83b10;
}

.services ul li::before 

{
    content: '• ';
    color: #ff9900;
}

h2
{
    text-align: center;
    font-family: 'Brush Script MT', cursive;
    font-size: 36px;
    color: #a85c10;
    margin: 40px 0 20px;
}

.divider
 {
    border: 0;
    height: 1px;
    background: #ccc;
    width: 60%;
    margin: 20px auto;
}

p 
{
    font-family:calibri;
    font-size: 20px;
    line-height: 1.6;
    text-align: justify;
    margin-bottom: 20px;
}

/*Pagina Habitaciones*/
/*CONTENEDOR DE TEXTO*/

#container {
    text-align: center;
    padding: 40px;
   margin-top: 80px;
}

#card {
    width:1200px;
    height:500px;
    display: inline-block;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 30px;
    margin-top:-80px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tituloTarjeta
{
    position: relative;
    text-align: center;
    font-family: 'Brush Script MT', cursive;
    font-size: 36px;
    color: #a85c10;
    margin: 40px 0 20px;
    top: -50px;
}



#card:hover {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#img1 {
  
    position: relative;
left: -370px;
top:-100px;
    border-radius: 10px;
    width: 400px;
    height: 400px;
    object-fit: cover;

}



.textoTarjeta
{
position: relative;
width:60%;
height:10%;
left:40%;
top:50px;
}

.subTexto
{
 position: relative;
  width:60%;
  height:10%;
  left:40%;
  top:-300px;  


}

/*LINEA Y PRECIO*/
.line-container
 {
    
   
    justify-content: center;
    margin: 30px 10px;
   }

.line-container .line {
  
    height: 1px; 
    background-color: #2b2929; 
    margin: 0 10px; 
    border-top: 3px solid rgb(46, 42, 42);
}

.line-container .text {
    font-size: 45px;
    font-weight: bold;
    color: #a85c10;
    text-align: center;
    font-family: 'Brush Script MT';
}

#Textointrohabitacion
{
    font-family:"calibri";
    width:65%;
    margin:15px auto;   
    padding:20px;    
}

#p2
{
    font-family:"calibri";

    width:65%;
    margin:15px auto;   
    padding:10px;

}

#textofinal
{
padding-top:30px;
padding-left:200px;
padding-right:200px;
font-size:14px;
font-family:"Arial";    
}

#cabeceraHabitaciones
{
position: relative;    
width:97%;
height:auto;
border-radius:6px;
left:1.5%;
}

/*Fotmularios :/ */
form 
{
    font-family:Calibri;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 700px; /* Asegura un ancho máximo */
}

form label
 {
    
    display: block;
    margin: 10px 0 5px;
    font-size: 18px;
}

form input[type="tel"]
{
    width:30%;
    padding: 9px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
}


form input[type="text"]
{
    width:60%;
    padding: 9px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
}

form input[type="email"]
{
    width: 45%;
    padding: 9px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
}


form input[type="date"]
{
    width:30%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
}

form select
{
    width:20%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
}

form textarea 
{
  
    width: 50%;
    padding: 9px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
   
}

form button
 {
    position: relative;
    left:40%;
    text-align: center;
    background-color: rgb(230, 193, 100);
    color: black;
    font-family: 'Jolly Lodger', cursive;
    font-size: 24px;
    padding: 15px 23px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  
}


form button:hover 
{
    background-color: rgb(237, 225, 160);
}

/* Pagina de viajes */
.line-container2 {
    
    align-items: center; /* Alinea el texto con las líneas verticalmente */
    justify-content: center;
    margin: 30px 0;
   
}
.line-container2 .line2 {
    height: 1px; /* Altura de la línea */
    background-color: #2b2929; /* Color de la línea */
    margin: 0 10px; /* Espacio entre la línea y el texto */
    border-top: 2px solid rgb(46, 42, 42);
}
.line-container2 .text2 {
    font-size: 42px;
    font-weight: bold;
    color: #a85c10;
    text-align: center;
    font-family: 'Brush Script MT';
}
header {
    
    font-family:Calibri;
    text-align: center;
    margin-bottom: 90px;

}
header h1 {
font-family:Travel;
    font-size: 40px;
   margin-bottom:60px;
   margin-top:60px;
    }
header p {
    margin-bottom: 30px;
    color: #c04810;
    font-size: 16px;
}
/* Itinerarios */
.itinerarios {
  
    justify-content: center;
  
    padding: 20px;
  
}
.itinerario {
    margin: 10px;
   
    text-align: center;
}
.itinerario img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}
.itinerario p {
    margin: 10px 0;
    font-weight: bold;
    color: #333;
}
/* Sección del mapa */
.mapa {
    
    align-items: center;
    padding: 20px;
    
}
.mapa img {
    width: 50%;
    border-radius: 8px;
}
.descripcion {
    padding-left: 20px;
}
.descripcion h2 {
    font-size: 22px;
    color: #333;
    font-family:"Arial";
}
.descripcion p {
    color: #777;
}
.boton {
    font-size:30px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #a16a41;
   font-family:Jolly Lodger;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 10px;
}
.boton:hover {
    background-color: #7e4f32;
}

#textoimagenes2 {
    font-size: 27px;
    font-weight: bold;
    color: #a85c10;
    text-align: center;
    font-family: 'Brush Script MT';
}
#Textointroviaje
{
font-size:20px;
width:68%;
margin:20px auto;   
text-align:left;

}

#tituloDestinos
{
position: relative;
margin-top: 100px;
color: #a85c10;
text-align: center;
font-family: 'Brush Script MT', cursive;
font-size: 45px;
}

table {
    font-family:Calibri;
    position: relative;
   padding:40px 40px 40px;
   left:13% ;
    text-align: left; 
    width: 80%; 
}

footer
{
border-top-left-radius:4px;
border-top-right-radius:4px;
width:100%;
height: 20px;;
font-size: 30px;
font-family:Travel;
padding-top:30px;
padding-bottom:30px;
position: relative;   
text-align: center;
background-color:rgba(133, 53, 53, 0.185);
box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 

}

#textoFooter
{
position: relative;    
top:-45px;
left:2%;
}

#tablaviajes
{
    font-family:Calibri;
width:100%;
border-collapse:collapse;
vertical-align:top;
padding:20px;
}

#colinas
{
   position: relative;
    width:1100px;
    height:700px;
    left:85px;
    display: inline-block;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 30px;
    margin-top:80px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#tituloColinas
{
    position: relative;
    margin-top: 120px;
    color: #a85c10;
    text-align: center;
    top:-330px;
    font-family: 'Brush Script MT', cursive;
    font-size: 45px;


}

#imagenColinas
{
border-radius:7px;
position: relative;
width:450px;
height:auto;
top:150px;
}

#texto-Colinas
{
position: relative;
width: 600px;
height:auto;
position: relative;
margin-top: 120px;
 text-align: center;
top:-380px;
font-family:"Calibri", cursive;
font-size: 30px;
left:500px;

}

#P3 {
font-size: 22px;
text-align: center;
}

#fotoVerde
{
position: relative;
width:1000px;
height:800px;
top:-140px;
border-radius:9px;
left:3.5%;
}

section
{
position: relative;
top:230px;
}

#itinerarios
{

position: relative; 
top:10px;
left:240px;
}

#tituloTabla 
{

position: relative;
left:3%;
color: #a85c10;
text-align: center;
top:-10px;
font-family: 'Brush Script MT', cursive;
font-size: 45px;


}
#finViajes
{

    position: relative;
    width:1200px;
    height:1000px;
    top:-100px;
    left:60px;
    display: inline-block;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 30px;
    margin-top:80px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

#SubtituloFinaViajes
{
font-family:"Travell";
position: relative;
top: 30px;
font-size:75px;
 
}

#TablaFinaViajes
{
position: relative;
font-size:20px;    

}

#seccionViajes
{

    width: fit-content; 
    margin-left: auto; 
    margin-right:270px;    

}
